body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

/* header */

nav.navbar{
  background-color: aliceblue;
}

.collapse{
  margin-left: 30px;
}

.nav-link {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Carousel */

.text {
  text-align: center;
  margin-top: 40px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Forms */

h1.h1{
  padding-top: 60px;
}

/* Botão enviar */
div.botao-enviar{
  text-align: center;
}

/* Footer */

footer {
  margin-top: 50px;
  padding-top: 40px;
  background-color: aliceblue;
}

i.fab{
  padding: 10px;
  font-size: 40px;
  color: black;
}

i.fab:hover{
  color: rgb(49, 49, 49);
}

i.wts{
  font-size: 20px;
  color: black;
}

i.wts:hover{
  color: #34af23;
}

.copy {
  font-size: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.logos-pagamentos{
  width: 50px;
  padding: 2%;
}

.logos-pix{
  width: 80px;
  padding: 2%;
}

/* Forms */
form {
  margin-top: 70px;
}
